.content__small-card{
    width: 85%;
    border: solid 1px yellow;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.content__small-card:hover{
    width: 85%;
    border: solid 1px yellow;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 6px 4px 0px gray
}

.imagem__small-card{
    width: 100%;
}
.imagem__small-card > img{
    width: 98%;
    margin: 2px;
}
.conteudo__small-card{
    font-size: 70%;
    margin-top: 5px;   
}
.conteudo__small-card > h1 {
    color: gray;
}
.conteudo__small-card > p{
    color:  grey;
    margin-top: 3px;
}

