*{
    width: 95%;
    display: flex;
    justify-content: center;   
}
header{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    
}
.container__big-card{

}
.container__small-card{
   
}