
<app-menu-title></app-menu-title>
<div class="container__big-card">
    <app-big-card 
        id="1"
        photoCover="" 
        titleBigCard="Game Pass adiciona novos jogos"
        decriptionBigCard="Novos jogos foram adicionados ao serviço da GamePass esse mes confira aqui as novas adições"
        >
    </app-big-card>
</div>
<div class="container__small-card">
    <app-small-card
        id="2"
        photoCover="https://cdn.akamai.steamstatic.com/steam/apps/1627720/header.jpg?t=1694079301"
        titleSmallCard="Lies of Pi"
        decriptionSmallcard="Lies of P is a thrilling soulslike that takes the story of Pinocchio, turns it on its head, 
        and sets it against the darkly elegant backdrop of the Belle Epoque era."
    ></app-small-card>
    <app-small-card
        id="3"
        photoCover="https://tm.ibxk.com.br/2023/09/06/06132112302276.jpg?ims=352x208"
        titleSmallCard="Starfield"
        decriptionSmallcard="Starfield é um jogo eletrônico de RPG de ação e ficção desenvolvido pela Bethesda Game Studios,
         publicado pela Bethesda Softworks e distribuído pela Microsoft."
    ></app-small-card>
    <app-small-card
        id="4"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL5UBDtuShp6LnwE34Ndn0bsxS6J96up50LA&usqp=CAU"
        titleSmallCard=""
        decriptionSmallcard=""
    ></app-small-card>
</div>